<table>
    <tr><td>First</td></tr>
    <tr><td>Second</td></tr>
    <tr><td>Third</td></tr>
    <tr><td>Fourth</td></tr>
    <tr><td>Fifth</td></tr>
    <tr><td>Sixth</td></tr>
</table>
<div>
    <button>Text A</button>
    <button>Text B</button>
    <span id="classic">Adding/removing class</span>
</div>
<div>
    <button>Text C</button>
    <span id="toggle">Toggling class</span>
</div>
<table class="a">
    <tr><td><a href="wakalaka.html">Wakalaka</a></td></tr>
    <tr><td>Second</td></tr>
    <tr><td>
        <span class="b">
            <a href="wakalaka.html">Wakalaka</a>
        </span>
    </td></tr>
    <tr><td>Fourth</td></tr>
    <tr><td>Fifth</td></tr>
    <tr><td>Sixth</td></tr>
</table>